/* FONTS */

$open_sans_font: 'Open Sans', 'Arial', sans-serif;
$roboto__font: 'Roboto', 'Arial', sans-serif;
$raleway__font: 'Raleway', 'Arial', sans-serif;

/* COLORS */

$main_text_color: #282528;
$color_cyan: #1ab798;
$color_white: #ffffff;